.navbar-brand span {
  font-size: 1.8em;
  font-weight: 500;
}

.logo {
  margin: 20px;
  font-weight: 400;
}

.navbar-nav a {
  color: grey;
  font-size: 1.5em;
  text-decoration: none;
  margin: 5px;
}

.blue {
  color: blue;
}
.red {
  color: red;
}
.yellow {
  color: rgb(233, 233, 27);
}
.green {
  color: green;
}

.orange {
  color: orange;
}
