.watch-div {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-movies {
  margin: 20px;
  text-decoration: underline blue;
}

.list-board {
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.small-title {
  font-size: 1em;
  width: 180px;
  text-align: center;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
}

.image-container {
  width: 180px;
  height: 260px;
  overflow: hidden;
  margin: 10px;
}
.mini-no-poster {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: maroon;
}

.small-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 5px;
}

.list-button {
  width: 100px;
  margin: 5px;
}

.clear-local {
  margin: 20px;
}
